![techtalk_pythonde.png](images/techtalk_pythonde.png)

16 October 2024

# Plan

## Scenario:

* A colleague would like to understand how many people are affected by severe flu over time.
* They would like to us to provide historic data in a specific layout.
* They will use the historic data to predict the future.

## Data engineering steps:

1. Agree data with colleague
2. Extract and transform data to be in the required layout
3. Check no errors have been made
4. Save the data and discuss with colleague

# 1. Agree data with colleague

## 1.1. We have agreed to use data from NHS England: “Daily Hospital Situation Report - Number of beds occupied by flu patients”.

* The data can be found on the website

[https://www.england.nhs.uk/statistics/statistical-work-areas/uec-sitrep/urgent-and-emergency-care-daily-situation-reports-2023-24/](https://www.england.nhs.uk/statistics/statistical-work-areas/uec-sitrep/urgent-and-emergency-care-daily-situation-reports-2023-24/)

* The data is in the file "Web File Timeseries – UEC Daily SitRep" which can be found in the Excel spreadsheet on the "Flu" sheet

[https://www.england.nhs.uk/statistics/wp-content/uploads/sites/2/2024/04/Web-File-Timeseries-UEC-Daily-SitRep.xlsx](https://www.england.nhs.uk/statistics/wp-content/uploads/sites/2/2024/04/Web-File-Timeseries-UEC-Daily-SitRep.xlsx)

* Specifically, data for 20 Nov 2023 to 31 Mar 2024.

* Data was published on 05 Apr 2024.

* Data is available in an Excel spreadsheet (file ends in .xlsx).

* Data summary:

"UEC Daily SITREPs highlight daily pressures on the service around the country – this collection covers all acute trusts.

Data for acute trusts without a type 1 A&E department is published from 14 December 2020 onwards.

The collection is submitted for the previous 24 hours where relevant, while bed numbers are taken as a snapshot at 8am on the day of collection.

Data is unvalidated management information which can be subject to change for 14 days after the data date."

![raw_data.png](images/raw_data.png)

## 1.2. Your colleague would like the cleaned data to be saved as a csv.

It has been agreed that the cleaned data will look like:

![clean_data.png](images/clean_data.png)

# 2. Extract and transform data to the required layout

## 2.1. Extraction plan

* Load the Excel spreadsheet into Kaggle Notebooks using Python.

### 2.1.1. First import the `pandas` library as pd. Pandas will help us manipulate tabluar data.

In [1]:
import pandas as pd

### 2.1.2. Create a variable called `excel_link` and hold the link to the data set as a string.

In [2]:
excel_link = "https://www.england.nhs.uk/statistics/wp-content/uploads/sites/2/2024/04/Web-File-Timeseries-UEC-Daily-SitRep.xlsx"

### 2.1.3. Using the `read_excel` function in pandas, read that data from the `excel_link`.

* Only read in the "Flu" sheet
* Skip the first 13 rows
* Assign the first two rows as the header

* Use the `head` function to show the first `5` rows of the table on the screen. Change the number to show a different number of rows

In [3]:
raw_data = pd.read_excel(
    io = excel_link,
    sheet_name = "Flu",
    skiprows = 13,
    header = [0,1]
)

print("A snippet of the raw data:")
raw_data.head(5)

A snippet of the raw data:

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
  Unnamed: 0_level_1 NHS England Region NHS England Region               Code
0                NaN                  -                NaN                  -
1                NaN                  -                NaN                  -
2                NaN                NaN                NaN                NaN
3                NaN    East of England                NaN                RC9
4                NaN    East of England                NaN                RGT

                                  Unnamed: 4_level_0 2023-11-20 00:00:00  \
                                                Name        G&A flu beds
0                         ENGLAND (All Acute Trusts)               143.0
1                      ENGLAND (Type 1 Acute Trusts)               142.0
2                                                NaN                 NaN
3        Bedfordshire Hospitals NHS Foundation Trust                 0.0
4  Cambridge University Hospitals NHS Foundation ...                 0.0

              2023-11-21 00:00:00             2023-11-22 00:00:00  ...  \
  CC flu beds        G&A flu beds CC flu beds        G&A flu beds  ...
0         6.0               133.0         8.0               148.0  ...
1         6.0               133.0         8.0               148.0  ...
2         NaN                 NaN         NaN                 NaN  ...
3         0.0                 0.0         0.0                 0.0  ...
4         0.0                 0.0         0.0                 0.0  ...

  2024-03-27 00:00:00             2024-03-28 00:00:00              \
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
0               780.0        36.0               776.0        35.0
1               779.0        35.0               775.0        33.0
2                 NaN         NaN                 NaN         NaN
3                 4.0         0.0                 4.0         0.0
4                 0.0         0.0                 0.0         0.0

  2024-03-29 00:00:00             2024-03-30 00:00:00              \
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
0               780.0        37.0               773.0        31.0
1               779.0        35.0               772.0        29.0
2                 NaN         NaN                 NaN         NaN
3                 6.0         0.0                 6.0         0.0
4                 2.0         0.0                 1.0         0.0

  2024-03-31 00:00:00
         G&A flu beds CC flu beds
0               781.0        31.0
1               779.0        30.0
2                 NaN         NaN
3                 6.0         0.0
4                 2.0         0.0

[5 rows x 271 columns]

### 2.1.4. Optional: Save raw data

* Remove the `#` symbol from the code and run the cell to save the raw data.

In [4]:
#raw_data.to_csv("2024-10-16 RAW England flu bed occupation 2023-24.csv", index=False)

## 2.2. Transformation plan

* 2.2.1. Take a copy of the raw data
* 2.2.2. Remove unnecessary columns
* 2.2.3. Unpivot the table
* 2.2.4. Rename the columns
* 2.2.5. Remove unnecessary rows
* 2.2.6. Tidy up the format of the dataa

### 2.2.1. Do not amend the raw data and take a copy instead.

* Lets call the copy of the data `clean`.
* You can also save a copy of the raw data, just in case the weblink is not available or the data changes.

In [5]:
clean = raw_data.copy()

print("A snippet of the data after taking a copy of the raw data:")
clean.head(3)

A snippet of the data after taking a copy of the raw data:

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
  Unnamed: 0_level_1 NHS England Region NHS England Region               Code
0                NaN                  -                NaN                  -
1                NaN                  -                NaN                  -
2                NaN                NaN                NaN                NaN

              Unnamed: 4_level_0 2023-11-20 00:00:00              \
                            Name        G&A flu beds CC flu beds
0     ENGLAND (All Acute Trusts)               143.0         6.0
1  ENGLAND (Type 1 Acute Trusts)               142.0         6.0
2                            NaN                 NaN         NaN

  2023-11-21 00:00:00             2023-11-22 00:00:00  ...  \
         G&A flu beds CC flu beds        G&A flu beds  ...
0               133.0         8.0               148.0  ...
1               133.0         8.0               148.0  ...
2                 NaN         NaN                 NaN  ...

  2024-03-27 00:00:00             2024-03-28 00:00:00              \
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
0               780.0        36.0               776.0        35.0
1               779.0        35.0               775.0        33.0
2                 NaN         NaN                 NaN         NaN

  2024-03-29 00:00:00             2024-03-30 00:00:00              \
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
0               780.0        37.0               773.0        31.0
1               779.0        35.0               772.0        29.0
2                 NaN         NaN                 NaN         NaN

  2024-03-31 00:00:00
         G&A flu beds CC flu beds
0               781.0        31.0
1               779.0        30.0
2                 NaN         NaN

[3 rows x 271 columns]

### 2.2.2. Remove unneccessary columns.

* First identify which columns you want to remove.
* These are the first and third columns which can be identified by `clean.columns[[0,2]]`.
* Zero represents the first column.
* Two represents the third column.


* Then the `drop` function will remove the specified column names.

In [6]:
remove_these_cols = clean.columns[[0,2]]

print("Remove these columns:")
print(remove_these_cols)

Remove these columns:
MultiIndex([('Unnamed: 0_level_0', 'Unnamed: 0_level_1'),
            ('Unnamed: 2_level_0', 'NHS England Region')],
           )

In [7]:
clean = clean.drop(columns=remove_these_cols)

print("A snippet of the data after removing unneccessary columns:")
clean.head(3)

A snippet of the data after removing unneccessary columns:

  Unnamed: 1_level_0 Unnamed: 3_level_0             Unnamed: 4_level_0  \
  NHS England Region               Code                           Name
0                  -                  -     ENGLAND (All Acute Trusts)
1                  -                  -  ENGLAND (Type 1 Acute Trusts)
2                NaN                NaN                            NaN

  2023-11-20 00:00:00             2023-11-21 00:00:00              \
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
0               143.0         6.0               133.0         8.0
1               142.0         6.0               133.0         8.0
2                 NaN         NaN                 NaN         NaN

  2023-11-22 00:00:00             2023-11-23 00:00:00  ...  \
         G&A flu beds CC flu beds        G&A flu beds  ...
0               148.0         6.0               148.0  ...
1               148.0         6.0               148.0  ...
2                 NaN         NaN                 NaN  ...

  2024-03-27 00:00:00             2024-03-28 00:00:00              \
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
0               780.0        36.0               776.0        35.0
1               779.0        35.0               775.0        33.0
2                 NaN         NaN                 NaN         NaN

  2024-03-29 00:00:00             2024-03-30 00:00:00              \
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
0               780.0        37.0               773.0        31.0
1               779.0        35.0               772.0        29.0
2                 NaN         NaN                 NaN         NaN

  2024-03-31 00:00:00
         G&A flu beds CC flu beds
0               781.0        31.0
1               779.0        30.0
2                 NaN         NaN

[3 rows x 269 columns]

### 2.2.3. Unpivot the table.

* Currently the table is pivoted with the first three columns being the label columns and the rest of the columns are value columns.
* We use the `melt` function to unpivot a table. We need to tell the function which are the label columns.
* We can identify the label columns by using the function `clean.columns[0:3]`. We use the `list` function around it to turn it into a format that the `melt` function is happy using.

In [8]:
label_cols = list(clean.columns[0:3])

print("These are the label columns that we want to keep and we don't want to unpivot:")
label_cols

These are the label columns that we want to keep and we don't want to unpivot:

[('Unnamed: 1_level_0', 'NHS England Region'),
 ('Unnamed: 3_level_0', 'Code'),
 ('Unnamed: 4_level_0', 'Name')]

In [9]:
clean = clean.melt(id_vars=label_cols)

print("A snippet of the data after the table is unpivoted:")
clean.head(3)

A snippet of the data after the table is unpivoted:

,"(Unnamed: 1_level_0, NHS England Region)","(Unnamed: 3_level_0, Code)","(Unnamed: 4_level_0, Name)",variable_0,variable_1,value
0,-,-,ENGLAND (All Acute Trusts),2023-11-20 00:00:00,G&A flu beds,143.0
1,-,-,ENGLAND (Type 1 Acute Trusts),2023-11-20 00:00:00,G&A flu beds,142.0
2,NaN,NaN,NaN,2023-11-20 00:00:00,G&A flu beds,NaN

### 2.2.4. Rename the columns.

In [10]:
column_names = ['region', 'trust_code', 'trust_name', 'date', 'bed_type', 'value']

clean.columns = column_names


print("A snippet of the data after renaming the columns:")
clean.head(3)

A snippet of the data after renaming the columns:

,region,trust_code,trust_name,date,bed_type,value
0,-,-,ENGLAND (All Acute Trusts),2023-11-20 00:00:00,G&A flu beds,143.0
1,-,-,ENGLAND (Type 1 Acute Trusts),2023-11-20 00:00:00,G&A flu beds,142.0
2,NaN,NaN,NaN,2023-11-20 00:00:00,G&A flu beds,NaN

### 2.2.5. Remove unneccessary rows.

* We do not want data for ENGLAND as a whole, we just want separate Trusts.
* We want to remove data for ENGLAND and blank/null data.
* We can see that the trust_code for ENGLAND is '-'.
* We can see that the trust_code for null data is NaN.


* To remove both '-' and NaN, we first use the `replace` function to convert '-' into nulls or `None`.
* Then we use the `dropna` function to remove all rows which have a null in the trust_code column.

In [11]:
clean = clean.replace('-', None)

print("A snippet of the data after changing '-' to nulls:")
clean.head(3)

A snippet of the data after changing '-' to nulls:

,region,trust_code,trust_name,date,bed_type,value
0,None,None,ENGLAND (All Acute Trusts),2023-11-20 00:00:00,G&A flu beds,143.0
1,None,None,ENGLAND (Type 1 Acute Trusts),2023-11-20 00:00:00,G&A flu beds,142.0
2,NaN,NaN,NaN,2023-11-20 00:00:00,G&A flu beds,NaN

In [12]:
clean = clean.dropna(axis='index', subset=['trust_code'])

print("A snippet of the data after removing all null and NaN rows in the trust_code column:")
clean.head(3)

A snippet of the data after removing all null and NaN rows in the trust_code column:

,region,trust_code,trust_name,date,bed_type,value
3,East of England,RC9,Bedfordshire Hospitals NHS Foundation Trust,2023-11-20 00:00:00,G&A flu beds,0.0
4,East of England,RGT,Cambridge University Hospitals NHS Foundation ...,2023-11-20 00:00:00,G&A flu beds,0.0
5,East of England,RWH,East and North Hertfordshire NHS Trust,2023-11-20 00:00:00,G&A flu beds,0.0

### 2.2.6. Tidy up the data types so they format correctly.

* The `convert_dtypes` function automatically formats your data for you.
* It may not do this as you expect so you should check your results after.

In [13]:
clean = clean.convert_dtypes()

print("A snippet of the data after automatically converting the data types:")
clean.head(3)

A snippet of the data after automatically converting the data types:

,region,trust_code,trust_name,date,bed_type,value
3,East of England,RC9,Bedfordshire Hospitals NHS Foundation Trust,2023-11-20,G&A flu beds,0
4,East of England,RGT,Cambridge University Hospitals NHS Foundation ...,2023-11-20,G&A flu beds,0
5,East of England,RWH,East and North Hertfordshire NHS Trust,2023-11-20,G&A flu beds,0

# 3. Check no errors have been made

* 3.1. You can do this manually as well as through code.
* 3.2. Checking through code is generally considered more reliable and future-proof.
* There are a large number of checks that could be done but for simplicity, we will only mention two here.

## 3.1. Manually check no errors have been made

* You can do this yourself and get other people to check too.

### 3.1.1. Check the total sum from the raw xlsx spreadsheet equals the sum of the cleaned csv

- a. In the raw spreadsheet, highlight cells F19:JK153 to check the sum. You can enter "F19:JK153" in the cell navigation in the top left of the spreadsheet and press enter on your keyboard. The sum is then shown on the bottom of the spreadsheet.
- b. In the clean spreadsheet, highlight cells "F2:F35911" to check the sum. You can enter "F2:F35911" in the cell navigation and press enter on your keyboard.
- c. CHECK: raw sum: 175062 = clean sum: 175062 ✔️

### 3.1.2. Check all values are accounted for by counting the number of rows

- a. Repeat the steps for 3.1.1.
- b. CHECK: raw count: 35910 = clean count: 35910 ✔️



![manual_checks.png](<images/manual_checks.png>)

## 3.2. Use code to check no errors have been made

### 3.2.1. Check the total sum from the `raw_data` equals the sum of the `clean` table

- Let's find the total for the clean table first:

In [14]:
print("Remember what the clean table looks like:")
clean.head(3)

Remember what the clean table looks like:

,region,trust_code,trust_name,date,bed_type,value
3,East of England,RC9,Bedfordshire Hospitals NHS Foundation Trust,2023-11-20,G&A flu beds,0
4,East of England,RGT,Cambridge University Hospitals NHS Foundation ...,2023-11-20,G&A flu beds,0
5,East of England,RWH,East and North Hertfordshire NHS Trust,2023-11-20,G&A flu beds,0

In [15]:
clean_sum = clean['value'].sum()

print(f"The sum of clean is: {clean_sum}")

The sum of clean is: 175062

- We will then look at the sum of the raw_data table:

In [16]:
print("Remember what the raw_data table looks like:")
raw_data.head(3)

Remember what the raw_data table looks like:

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
  Unnamed: 0_level_1 NHS England Region NHS England Region               Code
0                NaN                  -                NaN                  -
1                NaN                  -                NaN                  -
2                NaN                NaN                NaN                NaN

              Unnamed: 4_level_0 2023-11-20 00:00:00              \
                            Name        G&A flu beds CC flu beds
0     ENGLAND (All Acute Trusts)               143.0         6.0
1  ENGLAND (Type 1 Acute Trusts)               142.0         6.0
2                            NaN                 NaN         NaN

  2023-11-21 00:00:00             2023-11-22 00:00:00  ...  \
         G&A flu beds CC flu beds        G&A flu beds  ...
0               133.0         8.0               148.0  ...
1               133.0         8.0               148.0  ...
2                 NaN         NaN                 NaN  ...

  2024-03-27 00:00:00             2024-03-28 00:00:00              \
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
0               780.0        36.0               776.0        35.0
1               779.0        35.0               775.0        33.0
2                 NaN         NaN                 NaN         NaN

  2024-03-29 00:00:00             2024-03-30 00:00:00              \
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
0               780.0        37.0               773.0        31.0
1               779.0        35.0               772.0        29.0
2                 NaN         NaN                 NaN         NaN

  2024-03-31 00:00:00
         G&A flu beds CC flu beds
0               781.0        31.0
1               779.0        30.0
2                 NaN         NaN

[3 rows x 271 columns]

- We need to filter out England data. We know that it is the first two rows so we will exclude these and then sum the rest. Remember indexing starts at 0

In [17]:
raw_exclude_first_2_rows = raw_data.iloc[2:]

print("A snippet of the raw_data table, excluding the first two rows:")
raw_exclude_first_2_rows.head(3)

A snippet of the raw_data table, excluding the first two rows:

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
  Unnamed: 0_level_1 NHS England Region NHS England Region               Code
2                NaN                NaN                NaN                NaN
3                NaN    East of England                NaN                RC9
4                NaN    East of England                NaN                RGT

                                  Unnamed: 4_level_0 2023-11-20 00:00:00  \
                                                Name        G&A flu beds
2                                                NaN                 NaN
3        Bedfordshire Hospitals NHS Foundation Trust                 0.0
4  Cambridge University Hospitals NHS Foundation ...                 0.0

              2023-11-21 00:00:00             2023-11-22 00:00:00  ...  \
  CC flu beds        G&A flu beds CC flu beds        G&A flu beds  ...
2         NaN                 NaN         NaN                 NaN  ...
3         0.0                 0.0         0.0                 0.0  ...
4         0.0                 0.0         0.0                 0.0  ...

  2024-03-27 00:00:00             2024-03-28 00:00:00              \
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
2                 NaN         NaN                 NaN         NaN
3                 4.0         0.0                 4.0         0.0
4                 0.0         0.0                 0.0         0.0

  2024-03-29 00:00:00             2024-03-30 00:00:00              \
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
2                 NaN         NaN                 NaN         NaN
3                 6.0         0.0                 6.0         0.0
4                 2.0         0.0                 1.0         0.0

  2024-03-31 00:00:00
         G&A flu beds CC flu beds
2                 NaN         NaN
3                 6.0         0.0
4                 2.0         0.0

[3 rows x 271 columns]

- We then need to remove the columns without numerical data in. We want to remove the first 5 columns:

In [18]:
first_five_cols = raw_exclude_first_2_rows.columns[0:5]
print("The 5 columns with text in to remove:")
print(first_five_cols)

raw_exclude_first_2_rows_numerical_only = raw_exclude_first_2_rows.drop(columns=first_five_cols)

print("A snippet of the raw_data table, excluding the first two rows:")
raw_exclude_first_2_rows_numerical_only.head(2)

The 5 columns with text in to remove:
MultiIndex([('Unnamed: 0_level_0', 'Unnamed: 0_level_1'),
            ('Unnamed: 1_level_0', 'NHS England Region'),
            ('Unnamed: 2_level_0', 'NHS England Region'),
            ('Unnamed: 3_level_0',               'Code'),
            ('Unnamed: 4_level_0',               'Name')],
           )
A snippet of the raw_data table, excluding the first two rows:

  2023-11-20 00:00:00             2023-11-21 00:00:00              \
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
2                 NaN         NaN                 NaN         NaN
3                 0.0         0.0                 0.0         0.0

  2023-11-22 00:00:00             2023-11-23 00:00:00              \
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
2                 NaN         NaN                 NaN         NaN
3                 0.0         0.0                 0.0         0.0

  2023-11-24 00:00:00              ... 2024-03-27 00:00:00              \
         G&A flu beds CC flu beds  ...        G&A flu beds CC flu beds
2                 NaN         NaN  ...                 NaN         NaN
3                 0.0         0.0  ...                 4.0         0.0

  2024-03-28 00:00:00             2024-03-29 00:00:00              \
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
2                 NaN         NaN                 NaN         NaN
3                 4.0         0.0                 6.0         0.0

  2024-03-30 00:00:00             2024-03-31 00:00:00
         G&A flu beds CC flu beds        G&A flu beds CC flu beds
2                 NaN         NaN                 NaN         NaN
3                 6.0         0.0                 6.0         0.0

[2 rows x 266 columns]

In [19]:
raw_sum = raw_exclude_first_2_rows_numerical_only.sum().sum()

print(f"The sum of raw is: {raw_sum}")

The sum of raw is: 175062.0

- Now we can compare both `clean_sum` and `raw_sum`:

In [20]:
clean_sum == raw_sum

np.True_

### 3.2.2. Check all values are accounted for by counting the number of rows

- We will compare the tables `raw_exclude_first_2_rows_numerical_only` and `clean`.

In [21]:
raw_count = raw_exclude_first_2_rows_numerical_only.count().sum()

print(f"raw count: {raw_count}")

raw count: 35910

In [22]:
clean_count = clean['value'].count()

print(f"clean count: {clean_count}")

clean count: 35910

In [23]:
clean_count == raw_count

np.True_

# 4. Save the data and discuss with colleague

* The `to_csv` function will save the table as a csv file. Make sure to include the .csv file ending.
* `index=False` means that the index of the table, in bold above, e.g. 3, 4, 5, etc. does not get saved. Change this to `index=True` and see how the output changes.


* To access the saved csv, on the right hand side, you should see a header called ***"Output"***.
* To the left of the folder icon and the text "/kaggle/working", there should be an arrow, either facing down or to the right.
* When you run this notebook, your saved csv should be saved here.
* You may need to click on the circular arrows to refresh the folder for the file to show.


* Hover over the file you have saved and click on the three vertical dots on the right hand side.
* Then click "Download". This will save the file on your computer.

In [24]:
clean.to_csv("2024-10-16 England flu bed occupation 2023-24.csv", index=False)

# !NOTE OF CAUTION!

>Critically evaluating statistics or a dataset requires a thorough examination of its reliability, relevance, and validity. Here are some steps to consider:
>
>* **Determine the source:**
>Identify the origin of the statistics or dataset. Consider reputable sources such as government agencies, academic institutions, or well-established research organizations.
>
>* **Assess the credibility:**
>Evaluate the credibility and expertise of the organization or individual responsible for collecting and publishing the data. Look for a track record of accurate and reliable research.
>* **Examine the methodology:**
>Understand the methodology used to collect the data. Evaluate whether the methodology is appropriate for the research question and whether it aligns with accepted standards in the field.
>Evaluate the sample size: Consider the size of the sample used to collect the data. A larger sample size generally improves the reliability and generalizability of the findings. Assess whether the sample size is adequate for the research question.
>* **Check for bias:**
>Investigate any potential sources of bias in the data collection process. Look for any indications of sampling bias, response bias, or any other factors that may affect the objectivity of the data.
>* **Review data collection techniques:**
>Examine the techniques used to collect the data. Ensure that the data collection methods are appropriate and that they minimize potential errors or biases.
>* **Assess data quality:**
>Evaluate the overall quality of the data. Look for missing values, outliers, or inconsistencies that may affect the reliability or validity of the dataset. Consider whether the dataset has undergone any cleaning or preprocessing to address these issues.
>* **Consider data relevance:**
Determine the relevance of the dataset to your research question. Assess whether the variables and measures included in the dataset align with your research objectives and hypotheses.
>* **Verify statistical analysis:**
>If the dataset has been subjected to statistical analysis, review the techniques and methods used. Check for appropriate statistical tests, correct interpretation of results, and appropriate reporting of confidence intervals or p-values.
>* **Consult peer-reviewed literature:**
>Look for studies or papers that have utilized the same dataset or similar statistics. Assess how these previous studies have evaluated and used the data, and consider their findings in the context of your own research.
>* **Consider limitations:**
>Identify and acknowledge the limitations of the dataset or statistics. Understand the potential weaknesses or shortcomings that may impact the interpretation or generalizability of the results.
>* **Seek expert opinion:**
>If you have any doubts or concerns regarding the dataset or statistics, consult with experts in the field. Seek guidance from mentors, advisors, or colleagues who have expertise in the subject matter.

Source: [https://libguides.rio.edu/c.php?g=1319657&p=9706829](https://libguides.rio.edu/c.php?g=1319657&p=9706829)

# Well done! You can now discuss this cleaned data with your colleage to see if it meets their needs!

# Public data

## What is public data?
According to the [Centre for Public Data](https://www.centreforpublicdata.org/what-we-do), public data is “data collected, published or regulated by the government”. 

## What can I use the public data for?
In the UK, "The [Open Government Licence (OGL)](https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/open-government-licence/) is a simple set of terms and conditions that facilitates the re-use of a wide range of public sector information free of charge".

## How can I find public data?
There are different websites you can use to find public data but the government have created their own website to find open data. [https://www.data.gov.uk/](https://www.data.gov.uk/)

![find_open_data.png](images/find_open_data.png)